<!-- @@master = ../../_layout/default.ejs -->

<!-- @@block = data -->
<%
  const PAGE_DATA = {
    fileRoot: '../',
    name: 'ニュース',
    breadcrumbs: [
      {
        path: '',
        label: 'HOME',
      },
      {
        path: 'news/',
        label: 'NEWS',
      }
    ]
  };
-%>
<!-- @@close -->

<!-- @@block = content -->
<main>
  <p>my content</p>
</main>
<!-- @@close -->
