<!-- @@master = ../_layout/default.ejs -->

<!-- @@block = data -->
<%
  const PAGE_DATA = {
    name: 'ページ1'
  };
-%>
<!-- @@close -->

<!-- @@block = content -->
<main>
  <p>my content</p>
</main>
<!-- @@close -->
